
.textColor{
    color:blueviolet;
}
.card{
    width: 15em;
    height:15em;
    border: 2px solid black;
    border-radius: 1em ;
    /* background-color: rgb(158, 255, 255); */
    text-align: center;
    margin: 2em;
    box-shadow: 0.1em 0.1em 0.1em 0.1em;
}
.image{
    margin-top: 1em;
    width: 6em;
    height:6em;
    border-radius: 5em;
    border: 1px solid lightblue;
}